
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url("/assets/images/bg.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.box {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
}

.auth-container {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
  padding: 3rem 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  color: #fff;
}

.logo {
  width: 120px;
  margin-bottom: 1.5rem;
}

.auth-form h2 {
  margin-bottom: 1rem;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: #333;
  color: white;
  border: none;
  border-radius: 4px;
}

.auth-form button {
  width: 100%;
  padding: 12px;
  background: #e50914;
  color: white;
  border: none;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.auth-form button:hover {
  background: #f40612;
}

.auth-form p {
  display: block;
  margin-top: 1.5rem;
  font-size: 0.75rem;
  color: #999;
}

.hidden {
  display: none;
}

.toggle-link {
  color: #e50914;
  cursor: pointer;
}
